#navbar {
    background-color: #00034f;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

#navbar div {
    margin: 0 15px;
    font-size: 18px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    color: #ffc107;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#navbar li {
    font-size: 18px;
    display: inline; /* Make the list items display inline */
    margin-right: 20px;
}

#navbar img.profile_photo {
    width: 40px; /* Adjust the width of the photo */
    height: 40px; /* Adjust the height of the photo */
    border-radius: 50%; /* Create a circular frame */
    overflow: hidden; /* Hide overflow for the circular frame */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

#navbar i.bi {
    font-size: 40px;
    color: white;
}
